body{
    background-color: rgb(30, 30, 30);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form > *{
    margin: 15px;
}

input{
    display: block;
    padding: 10px;
}

button{
    padding: 15px;
    background-color: rgb(199, 19, 19);
    border: none;
    color: rgb(30, 30, 30);
}
button:active{
    background-color: rgb(180, 19, 19);
    box-shadow: 1px 1px 2px darkred;
}